@bandupBlue: #21798a;
@bandupRed: #a82f2f;
@bandupGreen: #55a530;
@bandupBlack: #333;
@bandupWhite: #e6e6e6;
@flatShadow: 0px 3px 0px rgba(0, 0, 0, 0.2);


@-webkit-keyframes spinCycle
{
0%   {-webkit-transform: rotate(0deg);}
25%  {-webkit-transform: rotate(180deg);}
50%  {-webkit-transform: rotate(360deg);}
75%  {-webkit-transform: rotate(180deg);}
100% {-webkit-transform: rotate(0deg);}
}

@-moz-keyframes spinCycle
{
0%   {-moz-transform: rotate(0deg);}
25%  {-moz-transform: rotate(180deg);}
50%  {-moz-transform: rotate(360deg);}
75%  {-moz-transform: rotate(180deg);}
100% {-moz-transform: rotate(0deg);}
}

ul.right {
  background-color: black;
}

#landing {
  background-color: @bandupGreen;
}

#textbox {
  width: 250px;
  margin: auto;
}

#landingh1 {
  color: black;
  position: relative;
  top: -20px;
  font-size: 40px;
}

.checkItOut{
  font-weight: bold;
  text-shadow:@flatShadow;
  width: 200px;
  padding-top: 30px;
  height: 80px;
  background-color: @bandupGreen;
  color:white;
  position: relative;
  margin: auto;
  text-align: center;
  letter-spacing: 5px;
  border-radius: 30px;
  box-shadow: @flatShadow;
  top: 50px;
  &:hover{
    background-color: lighten(@bandupGreen, 10%);
    cursor: pointer;

  }
}

#left, #middle, #right {
  height: 580px;
  width: 303px;
  margin: 80px 10px;
  background-color: rgba(230, 230, 230, 1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px black;
  -moz-box-shadow: 5px 5px 15px black;
  box-shadow: 5px 5px 15px black;
  float: left;
  position: relative;
  top: 20px;
}

#phone {
  background: url("../images/phone2.png") center no-repeat;
  background-size: 100%;
  height: 300px;
  width: 150px;
  margin: auto;
}

#gps {
  background: url("../images/gps.png") center no-repeat;
  background-size: 85%;
  height: 150px;
  width: 300px;
  margin: 75px auto;
}

#calendar {
  background: url("../images/calendar3.png") center no-repeat;
  background-size: 85%;
  height: 150px;
  width: 300px;
  margin: 75px auto;
}

h1{
	color:@bandupWhite;
	text-shadow:@flatShadow;
	font-weight: lighter;
}

.full-width{
	width: 100% !important;
	height: 450px;
}

#landerBack{
	background: url('http://www.wallpaperup.com/uploads/wallpapers/2012/12/25/26465/a87415be3af22aa16aa059c0442dde90.jpg');
	background-size: cover;
	padding-top: 90px;
}

.circle{
	background-color: rgba(0, 0, 0, 0.5);
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 100px;
	top: -40px;
	left: 450px;
	box-shadow: @flatShadow;
}

.navLogo{
	position: absolute;
	top:-25px;
	width: 200px;
	left: 425px;
}

.whiteDots{
	position: absolute;
	top: 0px;
	width: 100px;
	left: 476px;
	-webkit-animation-name: spinCycle;
	-webkit-animation-duration: 100s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: spinCycle;
	-moz-animation-duration: 100s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}


.landerLogo{
	display: block;
	width: 550px;
	margin: auto;
}

.landerBlurb{
font-size: 20px;
letter-spacing: 10px;
text-align: center;
line-height: 40px;
margin: 10px auto;
}

.signUp{
font-weight: bold;
text-shadow: 0 3px 0 rgba(0,0,0,0.2);
width: 250px;
padding-top: 15px;
height: 50px;
background-color: #21798a;
text-align: center;
margin: 40px auto;
color: white;
letter-spacing: 5px;
border-radius: 10px;
box-shadow: 0 3px 0 rgba(0,0,0,0.2);
	&:hover{
		background-color: lighten(@bandupBlue, 10%);
		cursor: pointer;

	}
}
.section1{
	padding-top:80px;


	img{
		display: block;
		width: 250px;
		height: 250px;
		
		margin:0px auto 35px auto;

	}

	.subBlurb{
		font-variant: small-caps;
		text-align: center;
		line-height: 35px;
	}
}


.section2{
	background-color: @bandupBlue;
}

#contactUs{
	background-color: @bandupWhite;
	border-radius: 10px;
	box-shadow: @flatShadow;
	padding: 20px;

}

h4{
	color:white;
	text-shadow: @flatShadow;
	font-variant: small-caps;
	letter-spacing: 10px;
}

fieldset{
	border:0px;
}
