extends ../template/layout

block content
  #dashboard
    .row
      .small-12.columns
        #left
          #calendar
          h1#dashboardh11 Calendar Sync
          #textbox
            p Here is some text, yo.
          p.checkItOut Check it out!
        #middle
          #phone
          h1#dashboardh12 Auto-Text
          #textbox2
            p Here is some text, yo.
          p.checkItOut2 Check it out!
        #right
          #gps
          h1#dashboardh13 GPS Sync
          #textbox
            p Here is some text, yo.
          p.checkItOut Check it out!

