extends ../template/layout

block content
	.full-width#landerBack
		img(src='../images/buMainBlack.png' draggable='false').landerLogo
		p.landerBlurb
			| The ultimate tool <br>
			| for band organization and management!
		p.signUp START NOW
	.row.section1
		.small-12.columns
			img(src='../images/buAlt.png').sublogo
			p(class='subBlurb').
				Real-time calendar that automatically syncs times up and tells you best times for practices and shows (eventually pulls data from Google and iPhone/Android calendars) and will give you notifications straight to your browser or phone via text!

