extends ../template/layout

block content
  #landing
    .row
      .small-12.columns
        #left
          #calendar
          h1#landingh1 Calendar Sync
          #textbox
            p Here is some text, yo.
          p.checkItOut Check it out!
        #middle
          #phone
          h1#landingh1 Auto-Text
          #textbox
            p Here is some text, yo.
          p.checkItOut Check it out!
        #right
          #gps
          h1#landingh1 GPS Sync
          #textbox
            p Here is some text, yo.
          p.checkItOut Check it out!

